

<dom-module id="blogpol-7">
    <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>

  </template>

    <script>
         Polymer({
            is: 'blogpol-7',
             properties: {
                 prop1: {
                        type: String,
                        value: 'blogpol-7'
                    }
             }
      

       });

    </script>
</dom-module>
