<!DOCTYPE html>
<meta name="description" content="Blog Tech University BBVA">
<link href="/src/blogpol-7/css/blog-home.css" rel="stylesheet">
<link rel="import" href="/bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-icons/av-icons.html">

<link rel="import" href="/bower_components/polymer-quill/polymer-quill.html">
<link rel="import" href="/bower_components/iron-list/iron-list.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/bower_components/paper-slider/paper-slider.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">


<link rel="import" href="/bower_components/mercury-paginator/mercury-paginator.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-sessionstorage/iron-sessionstorage.html">;


<dom-module id="lista-blog">
    <!--    <template>-->
    <template is="dom-bind">
<style>
  :host {
    display: block;
     /* background-color: white;*/
  }
       iron-icon,.panel-heading,paper-button,mercury-paginator {
               
                font-size: 2vw;
            }
     polymer-quill {
               
                font-size: 5px;
            }
</style> 
<style is="custom-style" >
    body {
        margin:0;
        height: 100vh;
    }
    paper-card {
        margin:1em;
    }
    /*iron-list {
        border-bottom: 1px solid #f00;
        border-top: 1px solid #000;

          background-color: white;
      }*/
    polymer-quill {
          --polymer-quill-editor-max-height: 100%;
         --polymer-quill-editor-height: 90%;
          --polymer-quill-editor-overflow: none;
           --polymer-quill-editor-border: none;
         --polymer-quill-html-border: solid 1px #ccc;
          max-width: 1200px;
      }
    #quill-comentario {
                  --polymer-quill-editor-max-height: 90%;
                 --polymer-quill-editor-height: 90%;
                  --polymer-quill-editor-overflow: none;
                   --polymer-quill-editor-border: none;
                  max-width: 600px;
              }
    iron-list {
          background-color: white;
          @apply(--layout-flex-auto);  flex: 1 1 auto; 
    }
    .item {
      border-bottom: 1px solid #eee;
      /*height: 30vh;*/
    }
        
</style>
<!--
recupero los valores que mantienen la "sesion" entre recargas de la pagina
-->
<iron-sessionstorage name="conectado"  value="{{conectado}}"></iron-sessionstorage>
<iron-sessionstorage name="usuarioConec"  value="{{usuarioConec}}"></iron-sessionstorage>
<iron-sessionstorage name="emailConec"  value="{{emailConec}}"></iron-sessionstorage>
<iron-sessionstorage name="nombreConec"  value="{{nombreConec}}"></iron-sessionstorage>
<iron-sessionstorage name="apellidosConec"  value="{{apellidosConec}}"></iron-sessionstorage>
<iron-sessionstorage name="indiceBrowser"  value="{{indiceBrowser}}"></iron-sessionstorage>

<app-drawer-layout>
<div class="col-sm-9" style="background-color: #eee;">
    <!--Inicio el paginador  
    show-first
    show-last
    -->
    <mercury-paginator id="paginador"
    perpage="1"   
    items="{{listado}}">
    </mercury-paginator>
    <!--Automatizo la llamada ajax-->
    <iron-ajax
        auto
        id="requestBlogs"
        url='{{URL}}?{{orden}}&sk={{skip}}&l={{limite}}&{{Apikey}}'
        handle-as="json"
        on-active-requests-changed="cargando"
        on-response="obtenerPosts">
    </iron-ajax>
<!--Monto la pantalla-->
    <div class="panel panel-default">
        
        <paper-toggle-button on-change="red" id="toggleRed">Red lenta</paper-toggle-button>
        <iron-icon hidden$={{esRapida}} on-tap="recuperaMenos" icon="av:fast-rewind"></iron-icon>
         <iron-icon hidden$={{esRapida}} on-tap="recuperaMas" icon="av:fast-forward"></iron-icon> 
        <paper-slider hidden$={{esRapida}} id="limite" pin snaps max="10" max-markers="10" step="1" value="1"></paper-slider>
        <paper-spinner id="cargando" active=false alt="cargando"></paper-spinner>
    <template id="listaBlogs" is="dom-repeat" items="{{listado}}" as="blog">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <iron-image  src="{{blog.foto}}">
                </iron-image>
                <h3 class="panel-title"> [[blog.titulo]]
                </h3>
                <iron-icon icon="icons:rowing">
                </iron-icon> 
                Escrito por [[blog.usuario]] 
                <iron-icon icon="icons:date-range">
                </iron-icon>
                Posteado el: [[blog.fecha]] 
                <polymer-quill id="mi-polymer-quill" name="mi-polymer-quill" readOnly="true" enable="false" content="[[blog.texto]]" store-as="html">
                </polymer-quill>
            </div>
            <div class="panel-body">                        
                <div class="panel panel-secondary">
                    <template  restamp="true" is="dom-if" if="[[_esAutor(blog.usuario)]]">
                        <div class="buttons">
                            <paper-button on-tap="editarBlog" data-item$="[[blog]]"><iron-icon icon="check"></iron-icon>Editar</paper-button>
                            <paper-button on-tap="borrarBlog" data-item$="[[blog]]"><iron-icon icon="cancel"></iron-icon>Borrar</paper-button>
                        </div>
                    </template>
                    <div class="buttons">
                        <paper-button on-tap="comentarioNuevo" data-item$="[[blog.uuid]]">
                        <iron-icon icon="check"></iron-icon>Comentar</paper-button>
                    </div>
                    <div>
                        <iron-list id="listaComentarios" name="listaComentarios" items="[[blog.comentarios]]" as="com" scroll-target="document">
                            <template>                        
                                <div>
                                    <iron-icon icon="icons:date-range">
                                    </iron-icon>
                                    comentado el: [[com.fechaComentario]] 
                                    <iron-icon icon="icons:rowing">
                                    </iron-icon>
                                    por [[com.autor]] 
                                    <polymer-quill id="quill-comentario" name="quill-comentario" readOnly="true" enable="false" content="[[com.texto]]" store-as="html">
                                    </polymer-quill>
                                </div>
                            </template>
                        </iron-list>
                    </div>
                </div>
            </div>
        </div>
    </template>
    </div>
</div>
</app-drawer-layout>
    </template>
    <script>
        var objetoBlog;
        var objetoIndice;
        var fechaMongo;
        var objetoRed;
        Polymer({
            is: 'lista-blog',            
            properties: {
                /*Array con la info de mongo*/
                listado: {
                    type: Array,
                    notify: true,
                    observer: "_refrescaQuill"
                },
                URL: {
                    type: String,
                    value: "https://api.mlab.com/api/1/databases/tech_jasdp/collections/entradaBlog"
                },
                /*control de usuario conectado*/
                conectado: {
                    type: Boolean,
                    value: false
                },
                Apikey: {
                    type: String,
                    value: "apiKey=Nhv70weYGsBHyjnl6ik4S5RrpbEGNcps"
                },
                URLMongoCom: {
                    type: String,
                    value: "https://api.mlab.com/api/1/databases/tech_jasdp/collections/comentarios"
                },
                /*Orden del query*/
                orden: {
                    type: String,
                    value: "s={'fecha': -1}"
                },
                skip: {
                    type: Number,
                    value: 0
                },
                limite: {
                    type: Number,
                    value: 1000
                },
                /*objeto editandose*/
                editando: {
                    type: Object,
                    value: null
                },
                /*info para construir el indice*/
                indice: {
                    type: Array,
                    notify: true
                },
                salto:{
                    type: Number,
                    value: 1
                },
                esRapida: {
                    type: Boolean,
                    value: true
                }
            },
            cargando: function(e) {
                var x=document.getElementById("cargando");
                if( x != null) {
                    if(e.detail.value != 0) { 
                        x.active = true; 
                    } 
                    else { 
                        x.active = false; 
                    };
                };
            },
            red: function(e) {
                var x=document.getElementById("toggleRed");
             if (x.checked) {                    
                    this.limite = this.salto;
                    this.esRapida = false;
                } else {
                  
                    this.limite = 1000;
                    this.esRapida = true;
                }
                /* objetoBlog.$.requestBlogs.generateRequest();*/
            },
            recuperaMas: function() {
                var x=document.getElementById("toggleRed");
                var limiteX=document.getElementById("limite");
                this.limite = limiteX.value;
                this.skip = this.skip + this.limite;                
            },
            recuperaMenos: function() {
                var saltoX=document.getElementById("salto");
                var limiteX=document.getElementById("limite");
                this.limite = limiteX.value;
               
                if(this.skip > this.salto - 1) {
                    this.skip = this.skip - this.limite; 
                } else {
                    this.skip = 0; 
                };
            },
            _refrescaQuill: function() {
                /* Una de las dolorosas manias de quill. No se entera de que ha cambiado su contenido.Con estos bucles le obligamos a repintarse*/
                x = document.getElementsByName("quill-comentario");
                if (x != null) {
                    for (var i = 0; i < x.length; i++) {
                        x[i].resetContent();
                    };
                };
                x = document.getElementsByName('mi-polymer-quill');
                if (x != null) {
                    for (var i = 0; i < x.length; i++) {
                        x[i].resetContent();
                    };
                };
            },
            _esAutor: function(usuario) {
                /*control de si el usuario es el autor del blog en curso para que el dom-if pinte los botones que tocan*/
                if (typeof objetoLogin != "undefined") {
                    return usuario === objetoLogin.usuarioConec;
                } else {
                    return false;
                };
            },
            _sinUsuarioConectado: function() {
                /*control de si hay usuario conectado para que el dom-if pinte los botones que tocan*/
                if (typeof objetoLogin != "undefined") {
                    return objetoLogin.usuarioConec === "";
                } else {
                    return true;
                };
            },
            comentarioNuevo: function(e) {
                /*Pasamos al objetoComentario el blog sobre el que se esta comentando*/
                objetoComentario.comentarioNuevo(e.target.dataset.item);
            },

            ready: function() {

                objetoBlog = this;

            },

            obtenerPosts: function(e) {
                /*tratamiento de la llamada iron-ajax del principio de la pagina*/
                var response;
                var posts;
                var i;
                var trovat = -1;
                var listadoWorka = [];
                objetoBlog.listado = [];
                listadoWorka = e.detail.response;

                var elemArray = [];
                var elem = {};
                /*
                Monto la informacion del indice
                */
                for (i = 0; i < listadoWorka.length; i++) {
                    elem = {};
                    listadoWorka[i].comentarios = [];
                    listadoWorka[i].fecha = new Date(listadoWorka[i].fecha);
                    elem.titulo = listadoWorka[i].titulo;
                    elem.usuario = listadoWorka[i].usuario;
                    
                    
                    elem.fecha = listadoWorka[i].fecha.toLocaleDateString() + " " + listadoWorka[i].fecha.toLocaleTimeString();
                    elem.inicio = listadoWorka[i].texto.substring(0, 20);
                    if (listadoWorka[i].foto.length > 0) {
                        elem.foto = listadoWorka[i].foto;
                    } else {
                        elem.foto = "";
                    };
                    elemArray.push(elem);
                };
                this.indiceBrowser = elemArray;
                /*
                recupero los comentarios de cada blog
                */
                var peticion = new XMLHttpRequest();
                peticion.open("GET", this.URLMongoCom + '?' + this.Apikey, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.send();
                if (peticion.status == 200) {
                    response = "";
                    response = JSON.parse(peticion.responseText);
                    /*
                    enchufo cada comentario en el  blog que le corresponde
                    */
                    for (i = 0; i < response.length; i++) {
                        trovat = this.findElement(listadoWorka, "uuid", response[i].idEntrada);
                        if (trovat != -1) {
                            listadoWorka[trovat].comentarios.push(response[i]);
                        };
                    };
                    /*
                        Estas instrucciones desencadenan la creación de la pagina
                    */
                    objetoBlog.listado = listadoWorka;
                    var p = document.getElementById("paginador");
                    p.data = objetoBlog.listado;

                } else {
                    alert("Error recuperando info de mongodb");
                };
                var p = document.getElementById("paginador");
                p.currentpage = 0;
                if(objetoBlog.listado.length == 0) {
                    this.skip = 0;
                }
            },
            findElement: function(arr, propName, propValue) {
                /*
                esta funcion permite encontrar un elemento de un array en funcion del valor de una de sus propiedades
                */
                var retorn = -1;
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i][propName] == propValue) {
                        retorn = i;
                        break;
                    };
                };
                return retorn;
            },
            editarBlog: function(e) {
                /*
                Preparamos la informacion para el editor de texto
                */
                var objeto = JSON.parse(e.target.dataset.item);
                /*
                Informamos a todos de que estamos editando un blog
                */
                this.editando = objeto;
                /*
                Llenamos los campos del editor
                */
                var x = document.getElementById('mi-quill');
                x.quill.clipboard.dangerouslyPasteHTML(objeto.texto);
                var tituloRio = document.getElementById('tituloRio');
                tituloRio.value = objeto.titulo;
                /*
                Enseñamos el editor
                */
                objetoEditor.$.dialogoEditor.toggle();
            },
            borrarBlog: function(e) {
                objeto = JSON.parse(e.target.dataset.item);

                var peticion = new XMLHttpRequest();
                peticion.open("DELETE", this.URL + "/" + objeto._id.$oid + '?' + this.Apikey, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.send(null);
                /*
                Borramos los comentarios asociados al blog
                */
                var peticion2 = new XMLHttpRequest();
                var cadena = this.URLMongoCom + '?' + this.Apikey + "&q={'idEntrada':'" + objeto.uuid + "'}";
                peticion2.open("PUT", cadena, false);
                peticion2.setRequestHeader("Content-Type", "application/json");
                peticion2.send("[]");
                objetoBlog.listado = null;
                /*
                Forzamos el refresh iron-ajax
                */
                objetoBlog.$.requestBlogs.generateRequest();
            }
        });
    </script>
</dom-module>
