
<link rel="import" href="/bower_components/google-signin/google-signin.html">
<link rel="import" href="/bower_components/google-signin/google-signin-aware.html">
<link rel="import" href="/bower_components/iron-image/iron-image.html">
<link rel="import" href="/bower_components/iron-input/iron-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/iron-icons/iron-icons.html">
<link rel="import" href="/bower_components/iron-selector/iron-selector.html">


<script>
    /*
    Integracion OAUTH2 con Facebook
    */
    function statusChangeCallback(response) {
          
        if (response.status === 'connected') {
            // Logged into your app and Facebook.
            testAPI();
        } else {
            console.log("sin conexion con facebook");
        }
    }

    function checkLoginState() {
         
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
    }

    window.fbAsyncInit = function() {
        
        FB.init({
            appId: '264312624086858',
            cookie: true, // enable cookies to allow the server to access 
            // the session
            xfbml: true, // parse social plugins on this page
            version: 'v2.8' // use graph api version 2.8
        });

        FB.getLoginStatus(function(response) {
         
            statusChangeCallback(response);
        });

    }


  
    var objetoAvatar;
    /*
    Cargamos el sdk de facebook
    */
    (function(d, s, id) {
         
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    
    /*fotoFacebook = "";*/

    function testAPI() {
        /*
        Cuando la función statusChangeCallback acaba, me llama.
        si el login va bien cojo la URL de la foto del perfil de facebook y la pongo en el objeto
        */
         
        FB.api('/me/picture', function(response) {
            /* objetoFacebook = response;*/
            
            if (!window.objetoAvatar) {
                window.objetoAvatar = ""; // 1, not 0
            }
            
            objetoAvatar.fotoFacebook = response.data.url;
            
        });
    }
</script>
<dom-module id="mi-avatar">
<template>
    <style>
        .iron-selected {
          background: #eee;
        }
        iron-image {
            width:60px; 
            height:60px;
        }
    </style>
    <style is="custom-style">
        img, iron-image {
          width: 80%;
          max-width: 400px;
          --iron-image-width: 100%;
        }
        .fb - like span, .fb - like iframe {
            height: 25px!important;
            width: 150px!important;
        }
    </style>
    <!--
    Control login-logoff de google
    -->
    <google-signin-aware 
        scopes="" 
        offline 
        on-google-signin-aware-success="handleSignin"
        on-google-signin-aware-signed-out="handleSignOut"
        on-google-signin-offline-success="handleOffline">
    </google-signin-aware>
    <!--<iron-label>Selecciona tu avatar</iron-label>-->
    <iron-selector attr-for-selected="name" selected="sGravatar" on-iron-select="_itemSelected" fallback-selection="sGravatar">
        <!--
        Boton de facebook
        -->
        <div name="sFacebook" id="sFacebook"> 
            <iron-image src="{{fotoFacebook}}"></iron-image> 
         
            <fb:login-button scope="public_profile" onlogin="checkLoginState();" auto_logout_link=true> </fb:login-button>
        </div>
        <!--
        Boton de google
        -->
        <div name="sGoogle"> 
             <iron-image  src="{{fotoGoogle}}"></iron-image>
            <google-signin width="standard" height="short" brand="google" client-id="149332076149-0b41ps6bs1eqrpqtk47uurcrnfjq7lpi.apps.googleusercontent.com"></google-signin>
         </div>
        <!--
        Avatar por defecto
        -->
        <div name="sGravatar">   
            <iron-image src="{{fotoGravatar}}"></iron-image>
        </div>
    </iron-selector>
    <paper-icon-button raised icon="save" title="guardar"  on-tap="guardarURL"></paper-icon-button>
    <!--
    Elemento ficticio para generar el base64
    -->
    <canvas width="300" height="300" id="mycanvas" style="display: none;"></canvas>
</template>
<script>
   
    Polymer({
            is: 'mi-avatar',
            properties: {

                prop1: {
                    type: String,
                    value: 'mi-avatar'
                },

                fotoGravatar: {
                    type: String,
                    value: "http://gravatar.com/avatar?d=mm"
                },
                fotoGoogle: {
                    type: String,
                    value: ''

                },
                fotoFacebook: {
                    type: String,
                    value: ''
                },
                urlSel: {
                    type: String,
                    value: "http://gravatar.com/avatar?d=mm"
                },
                fotoSel: {
                    type: String,
                    value: ''
                }

            },
            guardarURL: function(e) {
                 this.toDataURL(
                      objetoAvatar.urlSel,
                      function(dataUrl) {
                        objetoAvatar.fotoSel = dataUrl;
                      }
                    )
            },
            _itemSelected: function(e) {
                objetoAvatar.urlSel = e.detail.item.firstElementChild.src;
                this.guardarURL();
            },
            ready: function() {
                objetoAvatar = this;
                /*
                Me aseguro que el avatar por defecto ya está convertido en base64
                */
                this.guardarURL();
            },
            handleSignin: function(response) {
                var user = gapi.auth2.getAuthInstance()['currentUser'].get();
                this.fotoGoogle = user.getBasicProfile().getImageUrl();
            },
            handleSignOut: function(response) {
                var currentUser = gapi.auth2.getAuthInstance().currentUser.get();
                if (currentUser) {
                    currentUser.disconnect();
                }
                gapi.auth2.getAuthInstance().signOut();
            },
            disconnect: function(e) {
                var currentUser = gapi.auth2.getAuthInstance().currentUser.get();
                if (currentUser) {
                    currentUser.disconnect();
                }
                gapi.auth2.getAuthInstance().signOut();
            },
            /*
            Convertimos una url en un string en base64
            */
            toDataURL: function(src, callback, outputFormat) {
                
              var img = new Image();
              img.crossOrigin = 'Anonymous';
              img.onload = function() {
                var canvas = document.createElement('CANVAS');
                var ctx = canvas.getContext('2d');
                var dataURL;
                canvas.height = this.naturalHeight;
                canvas.width = this.naturalWidth;
                ctx.drawImage(this, 0, 0);
                dataURL = canvas.toDataURL(outputFormat);
                callback(dataURL);
              };
              img.src = src;
              if (img.complete || img.complete === undefined) {
                img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";
                img.src = src;
              }
            }
            });

</script>
</dom-module>
