<!DOCTYPE html>
<meta name="description" content="Blog Tech University BBVA">
<link rel="import" href="/bower_components/iron-sessionstorage/iron-sessionstorage.html">;
<link rel="import" href="/bower_components/paper-item/paper-item.html">;
<link rel="import" href="/bower_components/paper-card/paper-card.html">;
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">;

<dom-module id="mi-browser">
    <custom-style>
     <style include="iron-flex iron-flex-alignment">
      :host{
        display: flex;
      }
    </style>
        <style is="custom-style">
            paper-card {
                width: 100%;
                margin-top: 10px;
            }
            .nombre {
                color: var(--paper-grey-600);
                margin: 10px 0;
                font-size: 15px;
                float: left;
            }
            
            .fecha {
                color: var(--paper-grey-600);
                margin: 10px 0;
                font-size: 10px;
                float: center;
            }
            
        </style>
    </custom-style>
    <template is="dom-bind">
        <iron-sessionstorage name="conectado"  value="{{conectado}}"></iron-sessionstorage>
        <iron-sessionstorage name="indiceBrowser"  value="{{indiceBrowser}}"></iron-sessionstorage>
        <iron-selector  id="seleccion" on-iron-select="_itemSelected" >    
            <template id="listaBrowser" is="dom-repeat" items="{{indiceBrowser}}" as="item">
                <paper-card style="mix-blend-mode=difference;" heading="" image="[[item.foto]]" alt="Salmones" class="white">
                    <div class="card-content">
                        <div class="fecha"> {{item.usuario}} el {{item.fecha}}</div>
                        <div class="nombre">[[item.titulo]]</div>
                    </div>
                </paper-card>
            </template>
        </iron-selector>
    </template>
    <script>
        var objetoIndiceBrowser;     

        Polymer({
            is: 'mi-browser',
            properties: {
                prop1: {
                    type: String,
                    value: 'mi-browser'
                },
                indiceBrowser: {
                    type: Array,
                    value: ""
                }
            },
            ready: function() {
                objetoIndiceBrowser = this;
            },            
            pagina: function(e) {},
            _itemSelected: function(e) {              
                var p = document.getElementById("paginador");
                p.currentpage = parseInt(objetoIndiceBrowser.$.seleccion.selected, 10);
            }
        });

    </script>
</dom-module>
