<!DOCTYPE html>
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<meta charset="utf-8">
<title>Login form</title>

<link rel="import" href="/bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="/bower_components/paper-password-input/min-length-validator.html">
<link rel="import" href="/bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="/bower_components/iron-sessionstorage/iron-sessionstorage.html">;
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-error.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-input/paper-textarea.html">
<link rel="import" href="/bower_components/iron-input/iron-input.html">
<dom-module id="mi-login">
<template>
    <iron-sessionstorage name="conectado"  value="{{conectado}}"></iron-sessionstorage>
    <iron-sessionstorage name="usuarioConec"  value="{{usuarioConec}}"></iron-sessionstorage>
    <iron-sessionstorage name="emailConec"  value="{{emailConec}}"></iron-sessionstorage>
    <iron-sessionstorage name="nombreConec"  value="{{nombreConec}}"></iron-sessionstorage>
    <iron-sessionstorage name="apellidosConec"  value="{{apellidosConec}}"></iron-sessionstorage>
    <style>
       paper-dialog  {
            max-height: calc(100vh -210px);
            overflow-y: auto;
            }               
    </style>
    <paper-dialog id="dialogoLogin" modal>
    <section>
        <h2>Login de usuario</h2>    
        <min-length-validator id="min-length-validator" min-length="5"></min-length-validator>
        <paper-input style="width:25em" 
                     label="Elige un nombre de Usuario" 
                     autofocus
                     type="text" 
                     required="true" 
                     id="Usuario" 
                     name="Usuario" 
                 tabindex="-1"
                     >
        </paper-input>
        <paper-password-input  auto-validate id="contras" label="Password"  name="contras" tabindex="-1">    </paper-password-input>
        <div class="buttons">
            <paper-button  on-tap="EnviaLogin"><iron-icon icon="check"></iron-icon>Enviar</paper-button>
            <paper-button  dialog-dismiss><iron-icon icon="cancel"></iron-icon>Cancelar</paper-button>
        </div>
        <span>{{status}}</span>
    </section>
    </paper-dialog>
</template>
<script>
    'use strict';
    var objetoLogin;
    Polymer({
        is: 'mi-login',
        properties: {
            prop1: {
                type: String,
                value: 'mi-login'
            },
            conectado: {
                type: Boolean,
                value: false,
                observer: 'loginLogoff'
            },
            usuarioConec: {
                type: String,
                value: ''
            },
            emailConec: {
                type: String,
                value: '',
                observer: 'informaEmail'
            },
            nombreConec: {
                type: String,
                value: ''
            },
            apellidosConec: {
                type: String,
                value: ''
            },
            foto: {
                type: String,
                value: ''
            },
            status: {
                type: String,
                value: 'idle'
            },
            URLItem: {
                type: String,
                value: "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_jaume"
            }
        },
        ready: function() {
            objetoLogin = this;
            var cabecera = document.getElementById('infoLogon');
            if (this.emailConec.length > 0) {
                cabecera.innerText = this.emailConec;
            };
        },
        verificaUsuario() {
            if (this.$.Usuario.value.length > 4) {
                var peticion = new XMLHttpRequest();
                var url = this.URLItem + "?usuario=@@.'" + this.$.Usuario.value + "'";
                peticion.open("GET", url, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                peticion.setRequestHeader("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiamF1bWUifQ.BhgVmF6hN3S7zZt1e5ve_yKVpPyJQFbQVkXmJdRVvnw");
                peticion.send(url);
                var resposta = peticion.getResponseHeader("Content-Range");
                var cuenta = resposta.split("/");
                if (cuenta[0] === "*") {
                    objetoLogin.status = "Usuario no existe";
                    objetoLogin.$.Usuario.errorMessage = "Usuario no existe";
                    objetoLogin.$.Usuario.invalid = true;
                } else {
                    objetoLogin.status = "Usuario correcto";
                    objetoLogin.$.contras.focus();
                };
            }
        },
        EnviaLogin(e) {
            var usuario = objetoLogin.$.Usuario.value;
            var contrasenya = objetoLogin.$.contras.value;

            if (objetoLogin.$.Usuario.invalid || objetoLogin.$.contras.invalid) {
                objetoLogin.status = "Uno o más campos del formulario no son correctos";
            } 
            else {

                var peticion = new XMLHttpRequest();
                var url = objetoLogin.URLItem + "?select=usuario,email,foto,nombre,apellidos&&usuario=eq." + usuario + "&&contrasenya=eq." + contrasenya;
                
                peticion.open("GET", url, false);
                peticion.setRequestHeader("Content-Type", "application/json");
                peticion.setRequestHeader("Accept", "application/vnd.pgrst.object+json");
                peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
                peticion.setRequestHeader("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiamF1bWUifQ.BhgVmF6hN3S7zZt1e5ve_yKVpPyJQFbQVkXmJdRVvnw");

                peticion.send();

                var resposta = peticion.getResponseHeader("Content-Range");
                var valores = JSON.parse(peticion.responseText);
                
                if (peticion.status === 200) {

                    objetoLogin.status = "Usuario conectado";
                    objetoLogin.usuarioConec = valores.usuario;
                    objetoLogin.emailConec = valores.email;
                    objetoLogin.nombreConec = valores.nombre;
                    objetoLogin.apellidosConec = valores.apellidos;
                    objetoLogin.foto = valores.foto;
                    objetoLogin.conectado = true;
                    objetoLogin.$.contras.invalid = false;

                    this.toggleDialogoLogin();
                } 
                else {
                    objetoLogin.status = "Error en la validación";
                    objetoLogin.conectado = false;
                    objetoLogin.emailConec = "";
                    objetoLogin.usuarioConec = "";
                    objetoLogin.$.contras.invalid = true;
                };
            };
        },
        toggleDialogoLogin: function() {
            var dialogo = document.getElementById('dialogoLogin');

            dialogo.dataHost.$.Usuario.value = "";
            dialogo.dataHost.$.contras.value = "";
            
            this.$.dialogoLogin.toggle();

        },
        informaEmail: function() {
            var cabecera = document.getElementById('infoLogon');
            
            if (this.emailConec != null) {
                if (this.emailConec.length > 0) {
                    cabecera.innerText = this.emailConec;
                };
            };
        },
        loginLogoff: function() {
            var cabecera = document.getElementById('infoLogon');
            var botonLogin = document.getElementById('botonLogin');
            var botonLogoff = document.getElementById('botonLogoff');
            var botonEditor = document.getElementById('btMongoAdd');

            if (this.conectado != null) {
                if (this.conectado == true) {
                    botonLogin.style.display = "none";
                    botonLogoff.style.display = "";
                    botonRegistro.style.display = "none";
                    botonEditor.style.display = "";
                    cabecera.innerText = this.emailConec;

                } else {
                    botonLogin.style.display = "";
                    botonLogoff.style.display = "none";
                    botonRegistro.style.display = "";
                    botonEditor.style.display = "none";
                    cabecera.innerText = "usuario Invitado";
                    this.conectado = false;
                    this.emailConec = "";
                    this.usuarioConec = "";
                    this.nombreConec = "";
                    this.apellidosConec = "";
                }
                if (objetoBlog != null) {
                    objetoBlog.$.requestBlogs.generateRequest();
                };
            };
        }
    });
</script>
</dom-module>
