<!DOCTYPE html>
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<meta charset="utf-8">

<title>Register form</title>

<link rel="import" href="/bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="/bower_components/paper-password-input/min-length-validator.html">
<link rel="import" href="/bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="/bower_components/iron-a11y-keys-behavior/iron-a11y-keys-behavior.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">


<link rel="import" href="/src/blogpol-7/mi-avatar2.html">
<link rel="import" href="/src/blogpol-7/min-length-validator2.html">

<dom-module id="mi-registro">
<template>
    <style>
      iron-input[invalid] > input {
        border: 1px solid red;
        background-color: #FFCDD2;
      }
    </style>
<style>
    paper-dialog {
        max-height: calc(100vh -210px);
        overflow-y: auto;
    }
</style>
<paper-dialog id="dialogoRegistro" modal on-iron-overlay-closed="_CierraRegistro">
    <section>
        <h2>Introduce los datos del nuevo usuario</h2>   
        <div style="width:10%;float: left; margin-right: 30px;">
            <mi-avatar id="avatares"></mi-avatar>
        </div>
        <div style="float:left; left:20%;">
            <min-length-validator2  id="min-length-validator2" min-length="5"></min-length-validator2>
            <match-passwords-validator id="match-passwords-validator" password="[[password]]"></match-passwords-validator>
            <min-length-validator id="min-length-validator" min-length="6"></min-length-validator>
            <paper-input  
                     label="Elige un nombre de Usuario" 
                    validator="min-length-validator2"   
                    error-message="Entre 5 y 10 caracteres"
                     auto-validate 
                     autofocus
                     type="text" 
                     required="true" 
                     id="Usuario" 
                     name="Usuario"
                     value="{{usuario}}"
                     on-blur="verificaUsuario"
                     tabindex="-1">

            </paper-input>     
            <paper-input 
                     label="Nombre"   
                     validator="min-length-validator2"   
                     error-message="Mínimo 5 caracteres"
                     auto-validate 
                     autofocus
                     type="text" 
                     required="true" 
                     id="Nombre" 
                     name="Nombre"   
                     tabindex="-1">
            </paper-input>
            <paper-input  
                    label="Apellidos"
                    validator="min-length-validator2"   
                    error-message="Mínimo 5 caracteres"
                    auto-validate 
                    type="text"
                    required="true"
                    id="Apellidos"
                    name="Apellidos"
                    tabindex="-1"> 
            </paper-input>
            <paper-input 
                     auto-validate  
                     error-message="Dirección de correo inválida"                 
                     label="email"
                     type="email" 
                     required="true" 
                     id="email" 
                     name="email" 
                     tabindex="-1"> 
        </paper-input>
        <paper-password-input 
                    id="contras" 
                    name="contras"
                    label="Password" 
                    auto-validate
                    preventInvalidInput
                    char-counter maxlength="10"
                    validator="min-length-validator"                             
                    error-message="Las contraseñas han de tener un mínimo de 6 caracteres"
                    value="{{password}}"
                    tabindex="-1"
                    maxlength="10">
        </paper-password-input>
        <paper-password-input  
                    id="contras2"
                    name="contras2"
                    label="Confirmar"
                    auto-validate
                    preventInvalidInput
                    validator="match-passwords-validator"                             
                    error-message="Las contraseñas no son iguales"
                    tabindex="-1"
                maxlength="10">
         </paper-password-input>
            <div class="buttons" style="float: left;">
                <label id="estado" >[[miEstado]]</label>  
                <paper-button  autofocus on-tap="EnviaRegistro"><iron-icon icon="check"></iron-icon>Enviar</paper-button>
                <paper-button dialog-dismiss on-tap="_CierraRegistro"><iron-icon icon="cancel"></iron-icon>Cancelar</paper-button>
            </div>
        </div>
    </section>
    <canvas width="300" height="300" id="mycanvas" style="display: none;"></canvas>
</paper-dialog>

</template>
<script>
    const URLItem = "http://restapi-blogpol12.7e14.starter-us-west-2.openshiftapps.com/usuarios_jaume";
    var objetoRegistro;
    var objetoformulario;
    Polymer({
        is: 'mi-registro',
        properties: {
            prop1: {
                type: String,
                value: 'mi-registro'
            },
            miEstado: {
                type: String,
                value: ''
            },
            autoAbrir: {
                type: Boolean,
                value: false,
                notify: true,
            },
            foto: {
                type: String,
                value: ""
            }
        },
        ready: function() {
            objetoRegistro = this;
        },
        toggleDialogoRegistro() {
            var dialogo = document.getElementById('dialogoRegistro');
            dialogo.dataHost.$.Nombre.value = "";
            dialogo.dataHost.$.Apellidos.value = "";
            dialogo.dataHost.$.contras.value = "";
            dialogo.dataHost.$.contras2.value = "";
            dialogo.dataHost.$.email.value = "";
            this.$.dialogoRegistro.toggle();
        },
        verificaUsuario() {
            var peticion = new XMLHttpRequest();
            var url = URLItem + "?usuario=@@.'" + this.$.Usuario.value + "'";
            peticion.open("GET", url, false);
            peticion.setRequestHeader("Content-Type", "application/json");
            peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
            peticion.setRequestHeader("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiamF1bWUifQ.BhgVmF6hN3S7zZt1e5ve_yKVpPyJQFbQVkXmJdRVvnw");
            peticion.send(url);
            this.miEstado = "verificando usuario";
            var resposta = peticion.getResponseHeader("Content-Range");
            var cuenta = resposta.split("/");
             var lbEstado = document.getElementById("estado");
            if (cuenta[0] != "*") {
                this.miEstado = "ya existe ese usuario";

                lbEstado.style.color = "red";
                /*objetoRegistro.$.Usuario.errorMessage = "Usuario ya existe";*/
                this.$.Usuario.invalid = true;
            } else {
                 lbEstado.style.color = "blue";
                 this.$.Usuario.invalid = false;
                this.miEstado = "Usuario disponible";
            };
        },
        _CierraRegistro(e) {},
        EnviaRegistro(e) {

            objetoformulario = this.$;
            
            var usuario = objetoformulario.Usuario.value;
            var nombre = objetoformulario.Nombre.value;
            var apellidos = objetoformulario.Apellidos.value;
            var correo = objetoformulario.email.value;
            var contrasenya = objetoformulario.contras2.value;
            
            objetoformulario.contras2.value = '';

            if (objetoformulario.Usuario.invalid ||
                objetoformulario.Nombre.invalid ||
                objetoformulario.Apellidos.invalid ||
                objetoformulario.email.invalid ||
                objetoformulario.contras2.invalid) {
                this.miEstado = "Uno o más campos del formulario no son correctos";
            } 
            else {
                this.creaUsuario(usuario, nombre, apellidos, correo, contrasenya, objetoRegistro.$.avatares.fotoSel);
            };
        },
        creaUsuario: function(usuario, nombre, apellidos, correo, contrasenya, foto) {
            var usuari = new Object();

            usuari.usuario = usuario;
            usuari.nombre = nombre;
            usuari.apellidos = apellidos;
            usuari.email = correo;
            usuari.contrasenya = contrasenya;
            usuari.foto = foto;

            var parametro = JSON.stringify(usuari);
            var peticion = new XMLHttpRequest();

            peticion.open("POST", URLItem, false);
            peticion.setRequestHeader("Content-Type", "application/json");
            peticion.setRequestHeader("Access-Control-Allow-Origin", "*");
            peticion.setRequestHeader("Authorization", "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoiamF1bWUifQ.BhgVmF6hN3S7zZt1e5ve_yKVpPyJQFbQVkXmJdRVvnw");
            
            peticion.send(parametro);
            
            this.miEstado = "enviando registro";

            if (peticion.status = "201") {
                this.miEstado = "Usuario creado correctamente";
                this.toggleDialogoRegistro();
            } 
            else {
                this.miEstado = peticion.status;
            }
        },
        getBase64Image: function(img) {
            var myCanvas = document.getElementById('mycanvas');
            var ctx = myCanvas.getContext('2d');
            var im = new Image();

            myCanvas.width = img.width;
            myCanvas.height = img.height;

            ctx.drawImage(img, 0, 0);

            return myCanvas.toDataURL('image/jpeg');

        }

    });

</script>
</dom-module>
