<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
    <title>blog de Jaume Sevil para la Tech University Login</title>

    <meta name="description" content="Blog Tech University BBVA">

    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>
    
   
    <link rel="import" href="/src/blogpol-7/mi-avatar2.html">
    <style>
        body {
            margin: 0;
            padding-top: 0;
        }

    </style>
</head>

<body>


    <mi-avatar></mi-avatar>
<p id="avatar">{{objetoAvatar.urlSel}}</p>
<script>
var x = objetoAvatar.urlSel;
    console.log("en paginaAvatar recupero valor de la url"+objetoAvatar.urlSel);
</script>
</body>

</html>